@import './components/_parameters.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background: var(--main-yellow);
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.8;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  width: 20px;
}
